<p>
  <%=	@question.body %>
</p>
<%= link_to 'Back', test_path(@question.test) %>
<%= link_to "Create question", new_test_question_url(@question.test) %>
<%= link_to "Edit question", edit_question_path(@question) %>