<h1><%= t('.header', title: @test_passage.test.title) %></h1>
<h2 style="color: <%= TestPassage.result_color(@result) %>"><%= t('.result', result: @result) %></h2>

<%= link_to t('.back'), tests_path %>