

<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p class="navbar-text pull-left">© <%= current_year %> - VladChe
      GitHub: <%= github_url('kubokat', 'rails') %>
    </p>

    <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com' %>
  </div>
</div>