<div style="border-top: 1px solid black;margin-top: 5px;">
  <p><%= current_year %></p>
  <p>VladChe</p>
  <p>GitHub: <%= github_url('kubokat', 'rails') %></p>
  <p><%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com' %></p>
</div>