<h1>Tests list</h1>
<% @tests.each do |test| %>
  <div style="padding: 10px; border: 1px solid seagreen">
    <h2><%= test.title %></h2>
    <p><%= pluralize(test.questions.size, 'question') %></p>
    <%= button_to 'Start!', start_test_path(test.id) %>
  </div>
<% end %>
